[submodule "assets/models"]
	path = app_web/assets/models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "assets/environments"]
	path = app_web/assets/environments
	url = https://github.com/KhronosGroup/glTF-Sample-Environments.git
