.DS_Store
.settings
Thumbs.db
desktop.ini
node_modules
npm-debug.log
.vscode/launch.json
.vscode/tasks.json
package-lock.json
dist
.idea
yarn.lock
.project
debug.log
/3751792e8d692473.wasm
/1053c4edd3398f26.wasm
npm_package/*.map
/.vscode/settings.json
out
