html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(51, 51, 51);
}

#canvas {
    width:  100%;
    margin:  0px;
    height: 100%;
    background: rgb(51, 51, 51);
}

#logger {
    width: 100%;
    opacity: 0.9;
    padding: 4px;
    display: none;
    color: white;
    font-weight: bold;
    position: absolute;
    font-family: monospace;
    background-color: #FF3333;
}
