@charset "utf-8";

// setup initial colors
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Set your colors
$primary: #87c540;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$scheme-main: #363636;
$scheme-invert: #f5f5f5;
$border: #f5f5f5;
$text: #f5f5f5;
// this changes the color of labels, etc.
$text-strong: #f5f5f5;
$dark: #f5f5f5;

// values for tabs
$tabs-toggle-link-border-width: 0px;
$tabs-toggle-link-active-background-color: #373737;
$tabs-toggle-link-hover-background-color: #2c2c2c;

// button styles
$button-color: #f2f2f2;
$button-background-color: #87c540;
$button-padding-vertical: 0em;
$button-border-width: 0em;

// set font styles
$size-normal: 18px;
$family-primary: 'Roboto', sans-serif;
$title-size: 22pt;
$subtitle-size: 18px;
$subtitle-weight: 500;
$label-weight: 500;

// dropdown overlay
$icon-dimensions-large: 8em;
$box-background-color: rgba(255, 255, 255, 0.61);
$box-color: findColorInvert($text);
$box-radius: 30px;
$box-padding: 3rem;

// setup derived colors
@import "../../node_modules/bulma/sass/utilities/derived-variables";

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$addColors: (
);
$colors: map-merge($colors, $addColors);

// Import Bulma and Buefy styles
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/@ntohq/buefy-next/src/scss/buefy";

// general settings
html
{
    overflow: hidden;
    position:fixed;
    width: 100%;
    height: 100%;
}

a:hover
{
    color: $primary-light;
}

body
{
    margin: 0;
    height: 100%;
}

// there is no specific bulma setting for these
.select select
{
    padding-top: 0em;
    padding-bottom: 0em;
}
.select select option
{
    color: #f2f2f2;
}

/* tab selection on the right */
.b-tabs.is-vertical
{
    height: 100vh;
}

nav.tabs
{
    display: inline-block;
}

nav.tabs ul
{
    flex-shrink: unset;
}

// highlighting of tabs
.tabs li.is-active {
    border-right: 7.5px solid #87c540;
}

// this is the default background color for tab selection on the right (not provided by bulma)
nav.tabs
{
    background-color: #1b1b1b;
}

.tabs li
{
    height: 100px;
    display: table;
}

// hide tab content if
.hideTabs section
{
    display: none !important;
}

// handle options placement
.tabs li:first-child
{
    margin-top: calc(100vh * 0.11);
}
.tabs li:nth-child(7)
{
    margin-top: auto;
    margin-bottom: calc(100vh * 0.02);
}

.tabs li a
{
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
    padding-left: unset;
    padding-right: unset;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.tabs li a span, .tabs li a img
{
    display: block;
    margin-left: auto;
    margin-right: auto !important;
    text-align: center;
}

// tab content
.b-tabs .tab-content
{
    width: 300px;
    // necessary for scrollbar (overflow property) to work correct
    padding: 0px;
}

.tabContent
{
    // necessary for scrollbar (overflow property) to work correct
    padding: 1em;
}

textarea
{
    background-color: #1b1b1b;
    color: $text
}

.tab-item h2
{
    margin-bottom: 70px;
    margin-top: 70px;
}

/* spacing */
.label:not(:last-child)
{
    margin-top: 2em;
}
label.switch
{
    margin-top: 0.6em;
    white-space: nowrap;
}

.tabItemScrollable
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.smallerLabel .label
{
    font-weight: 400;
    margin-bottom: 0.1em !important;
    margin-top: 0.9em !important;
}

.smallestLabel, .smallerLabel span
{
    font-size: 16px;
    font-weight: 100;
}

.cardGrayMain
{
    background-color: #424242;
    padding: 8px;
    padding-right: 0px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
.cardGrayMainInner
{
    background-color: #4d4d4d;
    padding: 8px;
    padding-right: 0px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.cardHeader
{
    display: flex;
    justify-content: space-between
}

.select, .select select
{
    width: 100%;
}

.colorInput
{
    appearance: none;
    -webkit-appearance: none;
    border: solid 1px #f2f2f2;
    padding: 0;
}
.colorInput::-webkit-color-swatch-wrapper {
	padding: 0;
}
.colorInput::-webkit-color-swatch {
	border: solid 1px #f2f2f2;
}
.colorInputText, .colorInputText input
{
    width: auto;
}

// ensure on off buttons (in advanced controls) are in their own lines
div .field.has-addons
{
    display: grid;
}

/* make html recognize exposure slider full height  */
.b-slider.exposureSlider
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    width: auto;
}

.b-slider-tick-label
{
    margin-top: 8px;
}

.b-slider.iblIntensitySlider
{    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    width: auto;
}

/* buttons */
.downloadIcon
{
    margin-right: 5px;
}

/* arrow button on drop down */
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #f5f5f5;
}
// this seems to be the only option to change the button height
button.button
{
    height: 2em;
}

// dropdown overlay
.is-dropAreaCard
{
    justify-content: center;
    align-items: center;
}

.columns {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.column {
    padding: 0px;
    height: 100%;
}

#canvas {
    width:  100%;
    height: 100%;
    display: block;
    margin:  0px;
    border: 0px;
    padding: 0px;
    background: rgb(51, 51, 51);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.canvasUIMaximize {
    left: 25px;
    bottom: 25px;
    z-index: 2;
    position: absolute;
}
.canvasUIMaximize:hover {
    overflow: visible;
}
.maximizeCanvasIcon:hover {
    transform: scale(1.2);
}

.dg li.gui-stats:not(.folder) {
    height: 48px;
}

.modelCredit {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    word-break: break-word;
}
.modelCreditBottom {
    margin-top: 1.5rem;
    margin-right: 1em;
    margin-bottom: 1.5rem;
    word-break: break-word;
}
@media (min-height: 768px) {
    .modelCreditBottom {
        position: absolute;
        bottom: 0;
    }
}

#gltf-sample-viewer-model-spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 16px solid #f5f5f5;
    pointer-events: none;
    border-top: 16px solid #86C540;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
