/* only contains styles for the ui */

/******************/
/******************/
/* general styles */
/******************/
/******************/

h2, label, label.label, p, a
{
    color: #f2f2f2;
    font-size: 18px;
}
body, button, input, optgroup, select, textarea
{
    font-family: 'Roboto', sans-serif;
}

/* tabs */
.b-tabs.is-vertical
{
    height: 100vh;
}

nav.tabs
{
    background-color: #1b1b1b;
    width: 100px;
    overflow: hidden;
}

nav.tabs ul
{
    flex-shrink: unset;
}

section.tab-content
{
    background-color: #333333;
    width: 300px;
}

.tabs li.is-active {
    border-right: 7.5px solid #87c540 !important;
    background-color: #373737;
}

.tabs li:hover
{
    background-color: #2c2c2c;
}
.tabs li a:hover
{
    color: #f5f5f5;
}

.tabs li
{
    height: 100px;
    display: table !important;
}

.tabs li:first-child
{
    margin-top: calc(100vh * 0.11);
}
.tabs li:nth-child(5)
{
    margin-top: auto;
}
.tabs li:last-child
{
    margin-bottom: calc(100vh * 0.07);
}

.tabs li a
{
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
    border-bottom: unset;
    padding-left: unset;
    padding-right: unset;
    width: 100%;
    color: #f5f5f5;
}
.tabs li a span, .tabs li a img
{
    display: block;
    margin-left: auto;
    margin-right: auto !important;
    text-align: center;
}

/* spacing */
.label:not(:last-child)
{
    margin-top: 2em;
}
label.switch
{
    margin-top: 0.5em;
    white-space: nowrap;
}

.tabItemScrollable
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

/**********************************/
/**********************************/
/* Styles for individual elements */
/**********************************/
/**********************************/
html
{
    overflow: unset !important;
}

body
{
    display: flex;
}

canvas
{
    display: block;
}

.b-tabs.is-vertical.is-right
{
    flex-wrap: unset;
}

.b-tabs .tab-content
{
    padding-right: 0px !important;
}

.tabContent
{
    margin-right: 10px;
}

.tab-item h2
{
    margin-bottom: 70px;
    margin-top: 70px;
    font-size: 22pt;
}

.smallerLabel .label
{
    font-weight: 400;
    margin-bottom: unset !important;
    margin-top: 0.5em !important;
}

.smallestLabel
{
    font-size: 16px;
    font-weight: 100;
    opacity: 0.8;
}

.greyOverlay
{
    background-color: #424242;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.select, .select select
{
    width: 100%;
}

.flexContainer
{
    display: flex;
}
.colorInput
{
    -webkit-appearance: none;
    border: none;
    padding: 0;
}
.colorInput::-webkit-color-swatch-wrapper {
	padding: 0;
}
.colorInput::-webkit-color-swatch {
	border: none;
}
.colorInputText, .colorInputText input
{
    width: auto;
}

/* arrow button on drop down */
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #f2f2f2 !important;
}

.input, .select select, .taginput .taginput-container.is-focusable, .textarea
{
    background-color: #2c2c2c !important;
    border-color: #f5f5f5;
    color: #f5f5f5 !important;
    border-radius: 1px;
}
.select select option
{
    color: #f5f5f5 !important;
    background-color: #212121 !important;
}

.checkbox span.check, .radio span.check
{
    width: 24px !important;
    height: 24px !important;
}

.b-radio.radio input[type=radio]+.check:before
{
    box-shadow: unset !important;
}
.b-radio.radio input[type=radio]+.check:focus
{
    box-shadow: unset !important;
}

.radio:hover
{
    color: #f2f2f2 !important;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input,
.is-focused.textarea, .select select.is-active, .select select.is-focused,
.select select:active, .select select:focus, .taginput .is-active.taginput-container.is-focusable,
.taginput .is-focused.taginput-container.is-focusable, .taginput .taginput-container.is-focusable:active,
.taginput .taginput-container.is-focusable:focus, .textarea:active, .textarea:focus
{
    box-shadow: unset !important;
}

.button, .input, .textarea, .taginput .taginput-container.is-focusable, .select select,
.file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis
{
    height: 30px !important;
    line-height: 1 !important;
    font-size: 18px !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
}

/* make radio button full width */
div .field.has-addons
{
    display: block;
}

.b-slider.exposureSlider
{
    margin-bottom: 50px;
}

.exposureSliderMarker
{
    color: #e2e2e2;
}

.b-slider-tick-label
{
    margin-top: 8px;
}

/* buttons */
.downloadIcon
{
    margin-right: 5px;
}

button.button
{
    background-color: #87c540;
    color: #f2f2f2;
    border: none;
    border-radius: 290486px;
}
